<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%- title %>
  <%- style %>
</head>
<body>
  <div id="root">
    <%- appString %>
  </div>

  <%- initialState %>

  <%- scripts %>
</body>
</html>
